
*{
    margin: 0;
    padding: 0;
}

   header{
    width: 1440px;
    height: 652px;
   }
  nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 150px;
   margin-right: 170px;
   padding: 50px 12px 50px 12px;
}