

.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

   header{
    width: 1500px;
    height: 652px;
    margin: 0 auto;
    margin-bottom: 50px;
   }
  nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 150px;
   margin-right: 170px;
   padding: 50px 12px 50px 12px;
}
  .btn-primary1{
    width: 230px;
    height: 60px;
    color: black;
    background-color: white;
    border-radius: 5px;
  font-size: 20px;
  }
  .banner1{
      display: flex;
      margin: 0 auto;
      /* width: 1500px; */
      height: 652px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url('../code/assets/Hero-bg.png');
      background-repeat: no-repeat;
      background-size: cover;
    
  }
  .banner1 h1{
    margin-bottom: 15px;
  }
  .banner1 p{
  margin-bottom: 20px;
  }
   .btn-primary{
    /* Desktop - 1 */
position: relative;
 color: white;
 background: black;
width: 208px;
height: 66px;
 border-radius: 5px;
  font-size: 20px;
 
   }
   /* bannner 2 */
   .banner2{
    margin: 0 auto;
    width: 1140px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 1140px;
    height: 1400px;
    /* margin-right: 40px; */
   }

   .card1, .card2 , .card3{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
   }
  
   .banner2 h1{
    margin-bottom: 15px;
   }
  
   .banner2 p{
    margin-bottom: 70px;
   }

 /* banner3 */
 .banner3{
    margin: 0 auto;
    width: 1140px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
    .banner3 h1{
        margin-bottom: 30px;
    }
    .banner3 p{
        margin-bottom: 60px;
    }
   /* banner4 */
   .banner4{
    width: 1140px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .cards{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 30px;
     
   }
   .banner4 p{
    margin-bottom: 40px;
   }

   .crd1{
    background-color: #FDEDEC;
    padding: 30px 30px 20px 20px;
    
   }
   .crd2{
    background-color: #D6EAF8;
    padding: 30px 30px 20px 20px;
   }
   .crd3{
    background-color:#FDEBD0;
    padding: 30px 30px 20px 20px;
   }
.crd1 a , .crd2 a , .crd3 a{
    color: black;
}
